# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log
*.swp
.atom/
.buildlog/
.history
.svn/

# Env
.env
.env*.local

# TypeScript
*.tsbuildinfo

# IDE
.idea/
*.iml
*.ipr
*.iws

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# OS
Thumbs.db

# Temporary extract artifacts
/_preview_*
/_extract_*.js
